body {
    background-image: url("../img/spaceGif.gif");
    background-repeat: repeat;
}
body:before {
    content: "";
    background: black;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(116, 17, 245, 0.35);
    width: 100vm;
    height: 10vh;
}

header span {
    color: white;
    font-size: 1.25em;
    font-style: italic;
}


.fadeIn{
    color: white;
    width: 40%;
    margin-left: 30%;
    height: 10vh;
    margin-top: 7.5vh;
    text-align: center;
}
.coor-text{
    fill: white;
}
#wrapper {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 900px) {
    #wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 1000px;
    }
}
.commandPanel{
    border: 1px solid white;
    width: 240px;
    height: 300px;
    float: left;
}

.commandPanel h4 {
    width: 150px;
    position: absolute;
    color: white;
    margin-left: 90px;
    font-style: italic;
}
.commandPanel progress {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 10px;
    top: 60px;
    left: 120px;
    margin-left: -100px;
}
.commandPanel button {
    position: relative;
    display: block;
    width: 100px;
    top: 80px;
    left: 120px;
    margin-left: -50px;
    margin-top: 5px;
}
.commandPanel input {
    background: transparent;
    position: relative;
    width: 200px;
    top: 70px;
    left: 120px;
    margin-top: 10px;
    margin-left: -100px;
    color: white;
}
.fadeIn {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.pLines {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 120px;
    margin-left: -50px;
}
.progressLine {
    position: relative;
    background-color: rgb(116, 17, 245);
    width: 3px;
    height: 8px;
    top: 50px;
}
.progressNames {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 60px;
    left: 120px;
    margin-left: -100px;
}
.progressNames div {
    color: white;
    font-size: 0.9em;
}
#correct {
    position: relative;
    top: 0px;
    width: 300px;
    height: 300px;
    background-color: rgba(116, 17, 245, 0.1);
    float: left;
}

#tab {
    margin-top: 8vh;
    color: white;
}
#tab th {
    position: relative;
    width: 16.7vw;
    height: 10vh;
    background-color: rgba(116, 17, 245, 0.35);
}
.row td{
    width: 10vm;
    height: 10vh;
    text-align: center;
}

tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.25);
}

#dark {
    background: black;
    opacity: 0.75;
}

#ans {
    position: relative;
    text-align: center;
    top: 50px;
    color: white;
}
#target-dot{
    fill: red;
    transition: all 1s;
    visibility: visible;
}
svg{
    float: left;
}